* {
  margin: 0%;
}
.box {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(25, 33, 42) 0px 20px 30px -10px;
  width: 500px;
  height: 600px;
  margin-left: 200px;
}
.section {
  background-color: azure;
  background-size: cover;
  width: 1200px;
  height: 1200px;
  padding-top: 200px;
}
.photo {
  background-image: url(./photo.png);
  width: 60px;
  height: 50px;
}
.Join {
  color: black;
  font-size: 26px;
  font-weight: 600;
}
.please {
  color: #8e8e8e;
  font-size: 12px;
}
.navi {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  padding-top: 30px;
}
.first {
  background-color: white;
  border: 1px solid #cbd5e1;
  width: 400px;
  height: 30px;
  border-radius: 10px;
}
.first:hover {
  border: 1px solid #0ca5e9;
}
.bigfirst {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
}
.button {
  width: 416px;
  height: 44px;
  margin-left: 40px;
  border-radius: 10px;
  margin-top: 90px;
  background-color: black;
}
.con {
  color: white;
}
.od {
  display: flex;
  flex-direction: row;
}
.tseg {
  color: red;
}
.error-message {
  color: red;
  font-size: 11px;
}
.continue {
  width: 250px;
  height: 44px;
  margin-left: 20px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: black;
}
.back {
  width: 146px;
  height: 44px;
  margin-left: 40px;
  border-radius: 10px;
  margin-top: 50px;
  background-color: white;
  border: 1px solid #030303;
}
.bigbutton {
  display: flex;
  flex-direction: row;
}
.datebox {
  width: 460px;
  height: 44px;
  border: 1px solid #030303;
}
.img img {
  width: 400px;
  height: 200px;
}
.img1 {
  width: 400px;
  height: 190px;
  background: #7f7f800d;
}
.box1 {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(25, 33, 42) 0px 20px 30px -10px;
  width: 480px;
  height: 193px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 200px;
}
.you {
  font-size: 26px;
  font-weight: 600;
}
.we {
  font-size: 18px;
  font-weight: 400;
  color: #8e8e8e;
}
.dark {
  width: 50px;
  height: 50px;
  margin-left: 800px;
  margin-top: 200px;
}
