* {
  margin: 0%;
}
.box {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(25, 33, 42) 0px 20px 30px -10px;
  border-radius: 10px;
  padding: 32px;
  align-items: center;
}
.section {
  background-color: azure;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Join {
  color: black;
  font-size: 26px;
  font-weight: 600;
  padding-top: 8px;
  padding-bottom: 8px;
}
.please {
  color: #8e8e8e;
  font-size: 12px;
  padding-bottom: 28px;
}
.navi {
  display: flex;
  flex-direction: column;
  /* padding: 32px; */
}
.first {
  background-color: white;
  border: 1px solid #cbd5e1;
  width: 416px;
  height: 44px;
  border-radius: 8px;
}
.first:hover {
  border: 1px solid #0ca5e9;
}

.bigfirst {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.button {
  width: 416px;
  height: 44px;
  border-radius: 10px;
  margin-top: 162px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.con {
  color: white;
  display: flex;
  justify-content: center;
}
.od {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}
.tseg {
  color: red;
}
.error-message {
  color: red;
  font-size: 14px;
  font-weight: 400;
}
.continue {
  width: 250px;
  height: 44px;

  border-radius: 10px;

  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.back {
  width: 146px;
  height: 44px;

  border-radius: 10px;

  background-color: white;
  border: 1px solid #030303;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.bigbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 82px;
}
.datebox {
  width: 416px;
  height: 44px;
  border: 1px solid #030303;
}
.img img {
  width: 416px;
  height: 180px;
}
.img1 {
  width: 416px;
  height: 180px;
  background: #7f7f800d;
  margin-bottom: 20px;
  border-radius: 7px;
}
.box1 {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(25, 33, 42) 0px 20px 30px -10px;
  width: 480px;
  height: 193px;
  display: flex;
  flex-direction: column;

  gap: 8px;
}
.you {
  font-size: 26px;
  font-weight: 600;
}
.we {
  font-size: 18px;
  font-weight: 400;
  color: #8e8e8e;
}
.dark {
  width: 50px;
  height: 50px;
  margin-left: 800px;
  margin-top: 200px;
}
.input-error {
  border: 1px solid red;
  background-color: white;
  width: 416px;
  height: 44px;
  border-radius: 8px;
}
.hiddenFileInput {
  display: none;
}
.customUploadButton {
  width: 416px;
  height: 180px;
  display: inline-block;
  background: #7f7f800d;
  color: rgb(7, 7, 7);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
